// Helpers

@mixin tablet-up {
    @media only screen and (min-width: 760px) {
        @content;
    }
}

@mixin desktop-up {
    @media only screen and (min-width: 1200px) {
        @content;
    }
}

// Logical layout

* {
    box-sizing: border-box;
}

.site {
    padding: 0.75rem;
    row-gap: 1rem;
    display: grid;
    grid-template-areas:
        "sidebar"
        "content"
    ;

    @include tablet-up {
        padding: 1.5rem;
        column-gap: 2rem;
        grid-template-columns: 310px 1fr 1fr;
        grid-template-areas:
            "sidebar content content"
        ;
    }
}

.sidebar {
    grid-area: sidebar;

    &>section:first-child>h1 {
        margin-top: 0;
    }
}

.content {
    grid-area: content;
}

.good-parts,
.bad-parts {
    &>h1:first-child {
        margin-top: 0;
    }

    &>h1 {
        font-size: 1.75rem;
    }
}

.no-no {
    padding: 0;
    gap: 1rem;
    list-style: none;

    &>li {
        margin-top: 1rem;
    }
}

.theme-button {
    padding: 0;
    margin: 0;
    border: none;
    cursor: pointer;
}

.social-links>ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    display: flex;
    flex-wrap: wrap;
    gap: 10px;
}

// fonts

* {
    font-size: 1.1rem;
}

// colors

body {
    background-color: var(--background);
    color: var(--foreground);

    a {
        color: var(--link);
        text-decoration: none;

    }

    .cli-heading {
        color: var(--cli-heading);
    }

    .cli-sigint {
        color: #959595;
    }
}


@media (prefers-color-scheme: dark) {
    :root {
        --background: black;
        --foreground: white;
        --cli-heading: #6fff6f;
        --link: #ed745e;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --background: white;
        --foreground: black;
        --cli-heading: black;
        --link: #1717ff;
    }
}