<!DOCTYPE html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="author" content="Wojciech Kopacki">
    <meta name="color-scheme" content="light dark">
    <meta name="description" content="The official blog of one of the biggest data enthusiasts!">
    <meta name="keywords" content="IndieWeb, data engineering, personal blog, data musketeer">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Data Musketeer</title>
    <link rel="stylesheet" href="styles.css">
</head>

<body>
    {% block body %} {% endblock %}
</body>

</html>