{% extends "_site_wrapper.html" %}

{% block main_content %}
<section class="good-parts">
    <h1>What will you find here?</h1>
    <p>
        Currently, the page is still under development.
        I don't treat it exclusively as a platform for writing on work-related
        (<em>data</em>!) topics, nor as a personal diary - it is best to mix that.
        So, stay tuned and keep exploring!
    </p>
</section>
<section class="bad-parts">
    <h1>What won't you find here?</h1>
    <ul class="no-no">
        <li>Cookies? - No, thank you. I'm on a diet.</li>
        <li>Analytics? - I don't need to know anything about you.
            If you'd like to introduce yourself, go and write to me!
        </li>
        <li>A ton of JavaScript? - No, I try my best to follow
            <a href="https://www.w3.org/wiki/The_principles_of_unobtrusive_JavaScript">
                the unobtrusive JavaScript pattern</a>.
            The list of unsupported items will appear below if you do not have JavaScript enabled.
        </li>
    </ul>
    <noscript>
        Hi! Your JavaScript is disabled, but all the functionalities are supported! 🎉
    </noscript>
</section>

{% endblock content %}